* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.el{
    background-color: red;
    display: grid;
    place-content: center;
}

body {
    min-height:100vh;
    max-width:100vw;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-auto-rows: 75px auto 75px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    "sb sb sb sb sb sb sb sb sb"
    "ft ft ft ft ft ft ft ft ft";
    gap: 1rem;
}
.header{
    grid-area: hd;
}
.sidebar{
    grid-area:sb;
    position: absolute;
}
.footer {
    grid-area:ft;
}

.box{
    font-size: 2rem;
    padding: 0.5rem;
    background-color: black;
    color: whitesmoke;
}
.container {
    
    display: grid;
    grid-template-columns: repeat(2,1fr 2fr );
    row-gap:1rem;
    column-gap: 0.5rem;
}

.box:first-child {
    background-color:blue;
     grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end: 3;
}
aside.el {
    position:relative;
    left:400px;
}