*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 2rem;
    min-height: 100vh;
    background-image: linear-gradient(green,yellow);
    display: flex;
    flex-direction:column;
}

header,nav,main,footer {
    display: grid;
    justify-content: center;
}

header,footer {
    background-color: black;
    color: whitesmoke;
    position: sticky;
}
header {
    top:0;
    position: relative;
    text-align: center;
}

footer {
    bottom:0;
}

main {
    flex-grow:1;
    position: relative;
    align-content: center;
}

nav {
    background-color: white;
    color: black;
    width: 573px;
    
}

@media  screen and (min-width: 576px){
 nav {
      display: none;
 }
}
    


