*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.example{
    margin-top:1rem;
    padding-left: 20px;
    width:35%;
}

 img {
    border: 8px double red;
    max-width: 180px;
    min-height:200px;
    border-radius:100%;
    width: 50%;
    position: relative;
    top: 25px;
}

 .xyz {
    color: rgb(255, 0, 123);
    text-shadow: 2px 2px 5px;
    display: flex; 
    justify-content: center;
    position: relative;
    bottom: 110px;
    left: 70px;
    font-size: 2.5rem;
}

.zenitsu {
    border-bottom: 2px solid black;
    background-color: rgb(256, 210,156);
    background-image: url('img/image.png');
    background-size: cover;
    background-position:bottom;
}

 body {
    background-image: linear-gradient(red,whitesmoke);
} 

.clip {
    text-align: center;
    font-size: 10rem;
  background-image: url(img/image\ copy.png);
    -webkit-background-clip:text;
    color:transparent;
    background-size: cover;
    background-position:top;
} 







