 body{
    display: flex;
    gap: 5rem;
    flex-direction: column-reverse;
 }

 img {
    border: 3px solid purple;
    outline: 5px dashed red;
    outline-offset: 10px;
   position: relative;
   left: 35%;
 }
 .sas{
    transform: translateX(50%);
 }

 /* .ias {
    transform: translateX(-50%);
 } */

  /* .pas {
     transform: rotateX(180deg);
     transform: skew(20deg,20deg);
} 
  */
 
 body:hover{
   background-color: aqua;
  /* background-image: linear-gradient(blue,purple); */
   transition-property: background-color;
   transition-duration: 2s;
   transition-delay: 0.5s;
} 

/* .ias:hover{
   transition-property:transform;
   transition-duration: 2s;
   transition-delay: 0.2s;
   transform: rotate(180deg);
} */

.ias,.sas{
   animation-name: slide;
   animation-duration:5s;
   animation-timing-function: ease-in-out;
   animation-delay: 1s;
   animation-iteration-count:5;
   animation-direction: alternate-reverse;
}

@keyframes slide {
   0% {
      transform: translateX(0);
   }
   33% {
      transform: translateX(600px) rotate(180deg);
    }
    66% {
      transform: translateX(-600px) rotate(-180deg);
   }
   100% {
      transform: translateX(0);
   } 
}
.pas{
    animation-name: slide;
   animation-duration:5s;
   animation-timing-function: ease-in-out;
   animation-delay: 1s;
   animation-iteration-count:5;
   animation-direction: alternate;
}

@keyframes slide {
   0% {
      transform: translateX(0);
   }
   33% {
      transform: translateX(600px) rotate(180deg);
    }
   66% {
      transform: translateX(-600px) rotate(-180deg);
   }
   100% {
      transform: translateX(0);
   } 
}







